.contact h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact h2 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.contact-box{
    width:100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 1;
    margin: 3em 0;
}

@media screen and (max-width:900px) {
    .contact-box{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
}