.main-element{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.round{
    
        padding: 1em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .09);
        cursor: pointer;
}
.contact-second{
    margin:0 1em;
}
.round p{
    color: #147efb;
        font-size: 3rem;
}
.intro h3{
    color: #2d2e32;
        font-size: 1.7rem;
}
.desc a{
    color: #767676;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all .23s;
        text-decoration: none;
}
.desc a:hover{
    color: #147efb;
}
@media screen and (max-width:900px) {
    .main-element{
        margin: 2em 0;
    }
    
}